{% extends "layout.html" %}

{% block body %}
    <body>
        <div align = "right" style="font-size: 1rem;" ><a class href="index.html" style="color:white;">Back to homepage</a></div>
        <div class = "center" display = "table">
            <div class = "blackjack_table_words_small">DEALER CARDS</div>
            <br>
        <form action="/das_incl_submit" method="post">
            <input type="text" class="card_input" name= "card_input_dealer">
            <br>
            <br>
            <div class = "blackjack_table_words_small">PLAYER CARDS</div>
            <br>
            <input type="text" class="card_input" name= "card_input1">
            <input type="text" class="card_input" name= "card_input2">
            <input type="submit">
        </form>
            <br>
            <br>
            <div class = "center" display = "table">
                <!--<a href=das_incl_submit><input class="selectbox" type= submit ></button></a>-->
                <a href=das_incl_main><button class = "selectbox">Restart</button></a>
            </div>

    </body>

{% endblock %}