{% extends "layout.html" %}

{% block body %}
    <body>
        <div align = "right" style="font-size: 1rem;" ><a class href="index.html">Back to homepage</a></div>
        <div class = "center" display = "table">
            <div class = "blackjack_table_words_small">DEALER CARDS</div>
            <br>
            <select class="card_input">
                <option value="A">A</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <br>
            <div class = "blackjack_table_words_small">PLAYER CARDS</div>
            <br>
            <select class="card_input">
                <option value="A">A</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select class="card_input">
                <option value="A">A</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <br>
            <div class = "center" display = "table">
                <a href=das_excl_submit.html><button class = "selectbox">Submit</button></a>
                <a href=das_excl_main.html><button class = "selectbox">Restart</button></a>
            </div>
    </body>
    
{% endblock %}