{% extends "layout.html" %}

{% block body %}
    <body>
        <br>
        <div class = "blackjack_table_words_small">Please input card numbers based on the following rules</div>
        <br>
        <table class = "rule_table">
            <tr>
              <th>Card shows</th>
              <th>Please select</th>
            </tr>
            <tr>
              <td>A</td>
              <td>A</td>
            </tr>
            <tr>
              <td>2</td>
              <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>7</td>
            </tr>
            <tr>
                <td>8</td>
                <td>8</td>
            </tr>
            <tr>
                <td>9</td>
                <td>9</td>
            </tr>
            <tr>
                <td>10, J, Q, K</td>
                <td>10</td>
            </tr>

        </table>
        <br>
        <div class = "center" display = "table">
            <a href=das_excl_main_text><button class = "selectbox" style="background-color:#2F2A2A;color:#CE3D32;font-weight:600;font-size:1.5rem;">Understood, proceed to the next step</button></a>
    </body>
{% endblock %}