{% extends "layout.html" %}

{% block title %}
    Decision_hit
{% endblock %}

{% block main %}
    <!-- https://memecomplete.com/custom/?standard=true -->
    <img alt="{{ top }}" height="300" src="http://memegen.link/custom/{{ bottom | urlencode }}.jpg?alt=https://api.memegen.link/images/sparta.jpg" title="{{ top }}">
    <br>
    <br>
    <button onclick="history.back()" class = "selectbox" style="background-color:#2F2A2A;color:#CE3D32;font-weight:600;font-size:1.5rem;">Back</button>
{% endblock %}

