{% extends "layout.html" %}

{% block body %}

    <br>
    <div class = "center" display = "table">
        <div class = "blackjack_table_words_small">Your best casino partner</div>
        <br>
        <div class = "blackjack_table_words_small">We are here to make you maximize your expected return</div>
        <br>
        <div class = "blackjack_table_words_small">Does the game offer DAS (Double After Split)?</div>
        <br>
        <a href=das_incl_intro><button class = "selectbox" style="background-color:#2F2A2A;color:#CE3D32;font-weight:600;font-size:1.5rem;">Yes</button></a>
        <br>
        <a href=das_excl_intro><button class = "selectbox" style="background-color:#2F2A2A;color:#CE3D32;font-weight:600;font-size:1.5rem;">No</button></a>
    </div>

{% endblock %}